<% include header %>
<div id="aboutHeader">
<h2>About This Site</h2>
</div>
<div class="aboutText">
<p>This site acts as a resource and tool for anyone interested in Pokemon.</p>
<p>All 151 Pokemon are contained in this site and are accessible by all to view.</p>
<p>The most important feature of this site is the Type Comparison tool. This tool allows users to quickly compare types of Pokemon to give them the upper hand in any battle.</p>
<p>An Android app is planned to release soon to allow for Pokemon referencing on the go!</p>
</div>
<div id="aboutHeader">
    <h2>About The Developer</h2>
</div>
<div class="aboutText">
<p>My name is Mark McKinney and I am a student at Sonoma State University.</p>
<p>I am an aspiring Web Developer and even though this site doesn't appear to be anything special, there is a lot of work that goes into the backend.</p>
</div>
<div id="aboutHeader">
    <h2>Contact</h2>
</div>
<div class="aboutText">
<p>You can reach me by email at quikdrummer@gmail.com for freelance web development.</p>
<p><b>Instagram:</b> sh4rkus</br>
    <b>Facebook:</b> Mark McKinney </br>
    <b>Twitter:</b> sh4rkus</p>
</div>
<% include footer %>
