<% include header %>

<div class="container" id="masterContainer">
<div class = "container">
    <div class ="jumbotron">

    <h1>PokeType</h1>
    <h2>A Pokemon Resource and Type Comparison Tool</h2>
    </div>
</div>

<div class = "container">
    <div class = "indexText">
    <h2>Welcome to your resource for all things Pokemon!</h2>
    <p>This website currently covers Red and Blue Version which includes the first 151 Pokemon.</p>
    <p>Please use the links on the top nav to navigate to your hearts desire.</p>


        <img src="http://www.3dstination.com/wp-content/uploads/2013/09/Pokemon-X-Y-Kanto-Starters-Banner.jpg" align="center"/>
    </div>
</div>
</br>
    </div>


<% var hideBackLink = true; %>
<% include footer %>